.header {
  width: 100%;
  padding: 1rem;
  margin: 0;
  position: sticky;
  top: 0;
  left: 0;

  background-color: rgba(var(--whiteRGB), 0.8);
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    display: inline;

    li {
      display: inline-block;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    text-align: initial;
  }
}

.mobileSelector {
  display: inline-block;
  margin-left: 2rem;
  width: 40px;

  svg {
    fill: var(--red);
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  color: var(--red);
}

.branding {
  width: 22rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  h1 {
    display: inline-block;
  }

  span {
    display: inline-block;
    margin-left: 1rem;
  }
}

.logo {
  width: 40px;
}

.nav {
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
  position: relative;

  ul {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0;
    overflow-y: hidden;
    transition: height 0.3s;
  }

  li {
    display: block;
    color: var(--red);
  }

  @media (max-width: 767px) {
    &[data-showmobile=true] {
      ul {
        height: 120px;
        max-height: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    width: 40%;

    ul {
      margin-top: 0;
      flex-direction: row;
      height: initial;
    }
  }
}

.darkMode {
  width: 1rem;

  &:hover {
    cursor: pointer;
  }

  user-select: none;
}