#storytelling {
  background: #000;
  z-index: 99;
  min-height: 100vh;
  justify-content: flex-end;
  overflow: hidden;

  h2 {
    // color: rgba(69, 166, 234, 1);
    color: #F5F5F9;
    font-weight: 900;
    font-size: 2.2rem;

    @media (min-width: 767px) {
      font-size: 4rem;
    }
  }

  .text {
    color: #eee;
    font-family: inherit;
    font-weight: 300;
    font-variation-settings: 'wght' 300;

    b {
      font-weight: 600;
      font-variation-settings: 'wght' 600;
    }
  }

  @media (min-width: 768px) {
    h1 {
      margin-right: -180px;
    }
    .text {
      margin-right: -120px;
    }
  }
}