.tags {
  list-style-type: none;
  padding: 0;

  li {
    display: block;
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: var(--pink);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    font-weight: 500;

    @media (min-width: 768px) {
      display: inline-block;
    }

    &[data-active=true] {
      background-color: var(--purple);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.blocks {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  li {
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
    flex: 100%;
    
    &[data-display=false] {
      display: none;
    }

    @media (min-width: 992px) {
      width: 32%;
      flex: 32%;
      flex-grow: 0;
    }
  }
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.showAll {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  display: inline-block;
  padding: 1rem 2rem;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.clickInterceptor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.8);
  z-index: 999;

  .modalContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 56.25vw;
    max-width: 992px;
    max-height: 558px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}