#web {
  width: 100vw;
  background: #D0ABF5;
  background: linear-gradient(-35deg, #ACD6F5, #D0ABF5);
  padding: 5rem 0;

  @media (min-width: 768px) {
    min-height: 150vh;
  }

  @media (min-width: 1440px) {
    min-height: 100vh;
  }

  h2 {
    z-index: 999;
    font-weight: 900;
    font-size: 2rem;
    color: #323236;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .sites-container {
    position: absolute;
    min-height: 100vh;
    width: 60%;
    max-width: 800px;
    right: -40%;
    top: 10%;

    @media (min-width: 768px) {
      right: -10%;
      width: 50%;
      top: 10%;
    }

    @media (min-width: 960px) {
      right: -10%;
      width: 40%;
      top: 0;
    }
  }

  .sites {
    transform: rotateZ(-28deg) rotateY(45deg) rotateX(45deg);
  }

  .site {
    display: block;
    border-radius: 10px;
    border: 10px solid #F5F5F9;
    width: 80%;
    margin-bottom: 2rem;
  }

  .content {
    color: #323236;
    padding: 1rem;
  }

  .web-flow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-135%, -50%);
    width: 50%;
    max-width: 1000px;
  }

  #web-flow {
    background: #F5F5F9;
    padding: 2rem;
    border-radius: 30px;
    transform: rotateZ(-26deg) rotateY(45deg) rotateX(-35deg);
  }

  #web-laptop {
    z-index: 99;
  }
}