#top {
  position: relative;
  height: 100vh;
  color: #fff;
  overflow-y: hidden;
  background: #000;
  justify-content: flex-start;
}

#top-mountains {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  image-rendering: pixelated;
}

#top-middle {
  background-size: cover;
  background-position-y: 0%;
  background-position-x: 50%;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 20%;
  left: 0;
}

#top-header-text {
  top: 7%;
  margin-top: 40%;
  max-width: 992px;
  width: 100%;

  @media (min-width: 480px) {
    margin-top: 30%;
  }

  @media (min-width: 768px) {
    margin-top: 20%;
  }

  @media (min-width: 960px) {
    margin-top: 10%;
  }

  h1 {
    font-size: 1.2rem;
    font-variation-settings: 'wght' 900;
  }

  h2 {
    font-size: 2rem;
    line-height: 1;

    @media (min-width: 400px) {
      font-size: 2.5rem;
    }

    @media (min-width: 768px) {
      font-size: 4.2rem;
    }
  }
}

#top-front-trees {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 100%;
  background-position-x: 100%;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.black-after {
  background-color: #000;
  display: block;
  width: 100%;
  height: 300vh;
  position: absolute;
  top: 100%;
  left: 0;
}