:root {
  // --redDark: #CC3F0C;
  --redDark: #B0252E;
  --red: #DB222A;
  --white: #F9F6F0;
  --black: #111119;
  --gray: #666669;

  --pink: #F72585;
  --purple: #7209b7;
  --blue: #4361EE;
  --blueLight: #4CC9F0;
  --blueDark: #3A0CA3;
  --yellow: #F7E33E;

  --whiteRGB: 253, 255, 252;
  --blackRGB: 17, 17, 25;
  // --redRGB: 204, 63, 12;
}

// :root body.darkmode {
//   --white: #111119;
//   --black: #FDFFFC;

//   --whiteRGB: 17, 17, 25;
//   --blackRGB: 253, 255, 252;
//   --redDark: #F26950;
// }

// @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
}

p {
  line-height: 1.5;
}