.topVideo {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;

  background-color: var(--red);
}

.purple {
  background-color: var(--purple);
}

.blue {
  background-color: var(--blue);
}

.pink {
  background-color: var(--pink);
}

.topContent {
  z-index: 99;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  color: var(--white);
  text-align: left;
  padding: 0 1rem;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    color: var(--white);
    margin: 0;
    z-index: 1;
  }

  p {
    font-size: 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 0 4rem;
  }
}

.overlayIcon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    object-fit: cover;
  }
}

.videoBG {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;

  @media (min-width: 768px) {
    background-image: url('/frame_0.jpg');
    background-size: cover;
  }

  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  z-index: 2;

  @media (max-width: 767px) {
    display: none;
  }
}
